.width75{
	width:75% !important;
}
.pinkbtn{
	background: #fe2759 !important;
    border: 1px solid #fe2759 !important;
    color: #fff !important;
}
.authbox{
	    padding: 75px 25px !important;
}
.anchorlink{
	color: #fe2759;
	text-decoration: underline;
}
a.viewanchor {
    font-weight: 600;
    text-decoration: underline;
    color: #696969;
}
label.viewed {
    padding: 2px 10px;
    border-radius: 2px;
    background: #2c2f91;
    color: #fff;
}
label.unviewed{
	    padding: 2px 10px;
    border-radius: 2px;
    background: #fe2759;
    color: #fff;
}
.floatright{
	float: right !important;
}
.statscontent{
	line-height: 15px !important;
    font-size: 22px !important;
}
.boxtitle{
    font-size: 13px !important;
    line-height: 0px !important;
}
#page-wrapper{
    min-height: 1050px !important;
}
.slotsection {
        border: 1px solid #efe0e0;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}
.pointer{
    cursor: pointer;
}
.nopadding{
    padding:0px !important;
}
.slottiming{
        margin-bottom: 0px;
    font-size: 12px;
}
.fw500{
        font-weight: 500;
}
a.bannerimage {
    background-image: url(../images/servicebanner.jpg) !important;
    display: block;
    height: 250px;
    background-position: center center;
    background-size: cover;
}
.updatecoverpic{
        margin-top: 0px;
    position: absolute;
    background: rgba(0, 0, 0, 0.66);
    border: 1px solid rgba(0, 0, 0, 0.66);
}
img.photosthumb {
        width: 100%;
    height: 74px;
}
.uploadimages {
    border: 2px dashed #d0cccc;
    height: 153px;
}
p.uploadimgtext {
    font-size: 18px;
}
.f30{
    font-size: 30px !important;
}
p.addserviceheading {
    font-size: 18px;
    font-weight: 500;
    padding-left: 5px !important;
}
.savebtn {
    padding: 5px 10px;
    border: 1px solid #fe2759;
    background: #fe2759;
    color: #fff;
    font-weight: 500;
    float: right;
}
.savebtn:hover{
    color: #fff;

}
.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus{
    border-bottom: 1px solid #e5e5e5;
}
.checkboxlabel{
    font-size: 16px !important;
}
.width100{
    width:100%;
}
.white-box{
        padding: 20px 25px 25px 25px !important;
}
.bootstrap-tagsinput {
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
span.tag.label.label-info {
    background: #fe2759 !important;
}
a.plusicon {
    float: right;
    padding: 11px 13px;
    background: #fe2759;
    color: #fff;
    font-weight: 900;
    border-radius: 50px;
    margin-top: 11px;
}
.jq-toast-wrap.top-right{
    display: none !important;
}
.detailedviewiframe{
        width: 100% !important;
    border: 1px solid #fff !important;
        height: 1200px !important;
}
/*MULTIPLE IMAGE UPLOAD STARTS HERE*/

.drop-zone {
    /*width: 205px !important;*/
    height: 190px !important;
    border: 2px dashed #adb7be !important;
    text-align: center !important;
    padding: 25px 0 0 !important;
}

.drop-zone .font-icon {
    line-height: 60px;
    color: #919fa9;
    font-size: 2.75rem;
}

button.btn.btn-success.btn-block a {
    color: #fff;
}

.imgupload-btn {
    border: 1px solid #fe2759;
    background: #fe2759;
    padding: 6px 12px;
    color: #fff;
    cursor: pointer;
}

.imgupload-btn:active {
    border: 1px solid #fe2759;
    background: #fe2759;
}

.imgupload-btn:hover {
    border: 1px solid #fe2759;
    background: #fe2759;
    color: #fff;
}

.btn-rounded {
    border-radius: 10em !important;
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.home-list-pop img {
    width: 100%;
}


.btn-file input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    /*height: auto;*/
    height: 30px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.btn_txt {
    color: #ffffff;
}

.drop-zone .font-icon {
    line-height: 60px !important;
    color: #919fa9;
    font-size: 2.75rem;
}

.drop-zone .drop-zone-caption {
    font-size: 2rem;
    font-weight: 600;
    color: #919fa9;
    margin: 0 0 2rem;
}

.upload_icon {
    line-height: 60px !important;
    color: #919fa9;
    font-size: 3.75rem;
    /*my css*/
}




/*SHOW IMAGES SECTION*/

.dottedborder {
    padding: 10px;
    padding-top: 3px !important;
    border: 2px dashed #adb7be;
    height: 190px;
    overflow-y: scroll;
    overflow-x: hidden;
}




/*SHOW IMAGES SECTION*/


/*IMAGES HOVER CSS STARTS HERE*/

.itemsContainer {
    /* background:red; */
    float: left;
    position: relative
}

.itemsContainer:hover .play {
    display: block
}

.width50 {
    width: 50%;
}

.play {
    cursor: pointer;
    position: absolute;
    display: none;
    top: 35%;
    width: 30px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.image_mt10 {
    margin: 5px 10px;
}



.itemsContainer:hover .image {
    opacity: 0.3;
}

.itemsContainer:hover .middle {
    opacity: 1;
}

.plr5 {
    padding: 10px 0px !important;
}

.prtm-main .prtm-sidebar-back {
    background-color: rgb(64, 69, 87) !important;
}

.mlr-3 {
    margin-left: -3px !important;
    margin-right: -3px !important;
}

.prtm-header .navbar-header {
    padding-right: 8px !important;
}
.w60p{
    width: 60% !important;
}



/*IMAGES HOVER CSS ENDS HERE*/


/*MULTIPLE IMAGE UPLOAD ENDS HERE*/
/*VERTICALLY CENTERING MODALS STARTS HERE*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*VERTICALLY CENTERING MODALS ENDS HERE*/
.distancelabel {
    display: inline-block;
    background: #fe2759;
    color: #fff;
    font-size: 12px;
    padding: 0px 10px !important;
    border-radius: 5px;
}
.reviewslabel {
    display: inline-block;
    font-size: 12px;
    background: #33b86c;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
}
p.sportsclubname {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
}
a.viewinmap {
    color: #fe2759;
    font-size: 12px;
    text-decoration: underline;
}
p.sportslocation {
    font-size: 12px;
    margin-bottom: 0px;
}
.detailscontent {
    margin-bottom: 2px;
    font-size: 12px;
}
.detailstitle {
    margin-bottom: 2px;
    font-size: 12px;
}
.pricingbtn {
    border: 1px solid #fe2759;
    color: #fe2759;
    font-size: 11px !important;
    pointer-events: none !important;
    background: #fff;
    margin-left: 4px;
}
.savebtn:focus{
color: #fff !important;
}
.lh-30{
    line-height: 30px !important;
}
.editbutton{
        width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 100%;
    background: #fe2759;
}
.acctstats {
    font-size: 25px !important;
    font-weight: 500 !important;
    color: #f0555e !important;
}
.cleared {
    background: #f0555e !important;
    border: 1px solid #f0555e;
    color: #fff !important;
    font-size: 11px !important;
    pointer-events: none !important;
}
.uncleared {
    border: 1px solid #f0555e;
    color: #f0555e;
    font-size: 11px !important;
    pointer-events: none !important;
    background: #fff;
}
.viewed {
    padding: 2px 10px;
    border-radius: 2px;
    background: #2c2f91;
    color: #fff;
    cursor: pointer;
}
.acceptbooking {
    padding: 2px 10px;
    border-radius: 2px;
    background: #2c2f91;
    color: #fff;
    cursor: pointer;
}
.acceptbooking:hover {
    padding: 2px 10px;
    border-radius: 2px;
    background: #2c2f91;
    color: #fff;
    cursor: pointer;
}
.viewed:hover {
    padding: 2px 10px;
    border-radius: 2px;
    background: #2c2f91;
    color: #fff;
    cursor: pointer;
}
.unviewed{
        padding: 2px 10px;
    border-radius: 2px;
    background: #fe2759;
    color: #fff;
    cursor: pointer;
}
.unviewed:hover{
        padding: 2px 10px;
    border-radius: 2px;
    background: #fe2759;
    color: #fff;
    cursor: pointer;
}
.marb-15{
    margin-bottom: -15px !important;
}
.lh20{
    line-height: 20px !important;
}
.addserviceuploadimages{
        border: 2px dashed #d0cccc;
    height: 100px;
}
.addbannerimage{
    background-image: url(../images/coverpicpreview.png);
    display: block;
    height: 200px;
    background-position: center center;
    background-size: cover;
}
.editbannerimage{
    background-image: url(../images/coverpicpreview.png);
    display: block;
    height: 163px;
    background-position: center center;
    background-size: cover;
}
.freelanceranchor {
    font-size: 14px;
    line-height: 38px !important;
    position: relative;
    height: 40px !important;
    margin: 1px 10px 10px 0;
    padding: 5px 20px 5px 20px;
    -webkit-transition: all .4s;
    border: 1px solid #dedede;
    border-radius: 2px;
    list-style: none;
    color: #000;
}
li.freelancerli {
    list-style: none;
    display: inline;
}
.tag:hover {
    color: #fff;
    border-color: #ff2759;
    background-color: #ff2759;
}