/*success and error snackbar shows here*/

#snackbarsuccs {
    visibility: hidden;
    min-width: 250px;
    background-color: #27e62e;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100000;
    left: 38%;
    bottom: 30px;
    font-size: 16px;
}

#snackbarsuccs.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}



/* The snackbar failure - position it at the bottom and in the middle of the screen */

#snackbarerror {
    visibility: hidden;
    min-width: 250px;
    background-color: #fe2759;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100000;
    left: 40%;
    bottom: 30px;
    font-size: 16px;
}

#snackbarerror.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.btnldr {
    font-size: 1.2em !important;
    margin-top: -5px;
}


.iserr {
    border: 2px solid #fe2759 !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.lowercase {
    text-transform: lowercase !important;
}

.nodata {
    color: #F0555E;
    font-size: 17px;
    font-weight: 600;
}

.fright {
    float: right !important;
}

.fleft {
    float: left !important;
}


.loadmreBtn {
    color: #ff6900 !important;
    text-decoration: underline !important;
}

.cptr {
    cursor: pointer !important;
}

.tcenter {
    text-align: center !important;
}


button[disabled],
html input[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
}








/*fancy box css starts here*/

.fancybox {
    position: relative;
    display: block;
}

.gallery-carousel-blk .fancybox:hover:before,
.gallery-carousel-blk .fancybox:hover:after {
    opacity: 1;
}

.gallery-carousel-blk .fancybox:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    transition: all 0.3s ease-in 0.2s;
    width: 100%;
    z-index: 99;
}

.gallery-carousel-blk .fancybox:after {
    content: '\f0b2';
    width: 60px;
    height: 60px;
    font-family: 'FontAwesome';
    line-height: 60px;
    background: #e72e77;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in 0.2s;
    bottom: 0;
    margin: auto;
    opacity: 0;
    z-index: 99;
}

.fancybox-close {
    background: #fff;
    border: 1px solid #f0555e;
    text-align: center;
    border-radius: 50%;
    color: #f0555e;
    line-height: 36px;
}

.fancybox-close:hover {
    background: #f0555e;
    color: #fff;
}

.fancybox-close:before {
    content: '\f00d';
    font-family: 'FontAwesome';
}

.fancybox-nav:before {
    font-family: 'FontAwesome';
    color: #f0555e;
    font-size: 80px;
    transform: scaleY(1.5);
}

.fancybox-nav {
    height: auto;
    display: table;
    bottom: 0;
    margin: auto;
}

.fancybox-nav span {
    display: none;
}

.fancybox-nav::before {
    display: table-cell;
    vertical-align: middle;
}

.fancybox-prev:before {
    content: '\f104';
}

.fancybox-prev {
    left: -40px;
}

.fancybox-next {
    text-align: right;
    right: -40px;
}

.fancybox-next:before {
    content: '\f105';
}

.fancybox-nav {
    top: 35% !important;
}

.previmghght {
    height: 165px !important;
}

.h85px {
    height: 85px !important;
    width: 100% !important;
}

.btn-danger,
.btn-danger.disabled {
    background: #fe2759;
    border: 1px solid #fe2759;
}

#uploadimagesmodal .progress,
#uploadvideosmodal .progress {
    height: 10px !important;
    margin-top: 20px !important;
}

#uploadimagesmodal .progress-bar-success,
#uploadvideosmodal .progress-bar-success {
    background-color: #fe2759;
}






/* Centered text */

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: rgba(254, 39, 89, 0.71);
    color: #fff;
    height: 75px;
    text-align: center;
}

.hw100px {
    height: 100px !important;
    width: 100% !important;
}

.frlnactive {
    color: #fff !important;
    border-color: #ff2759 !important;
    background-color: #ff2759 !important;
}

.listimghandw {
    height: 90px !important;
    width: 100% !important;
}

.widthm10px {
    margin-top: -10px;
}

.width85pximg {
    width: 85% !important;
}

.dyn_existvideos .centered {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: rgba(254, 39, 89, 0.71);
    color: #fff;
    height: 58px;
    text-align: center;
}

.dyn_existvideos .play,
.dyn_existimages .play {
    cursor: pointer;
    position: absolute;
    display: none;
    top: 22%;
    width: 30px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100;
}

.trash30px {
    width: 30% !important;
}

.row.dyn_existimages {
    max-height: 155px !important;
    overflow-y: auto;
}

.row.dyn_existvideos {
    max-height: 155px !important;
    overflow-y: auto;
}

.fooditemtags {
    padding: 0px;
    background: #97999f;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}

.fooditemtags.active {
    background: #fe2759;
    color: #fff;
}

.delimgintags {
    width: 15% !important;
    cursor: pointer;
}

.btn-pink {
    background: #fe2759;
    border: 1px solid #fe2759;
}

.whiteclr {
    color: #fff;
}

.classnodata {
    color: #ff2759;
    font-weight: 600;
    font-size: 20px;
}

/*//material date picker css starts here*/
i.material-icons {
    color: #fff;
}


a.btn.btn-default.dtp-select-year-range.before,
a.btn.btn-default.dtp-select-year-range.after {
    background: #fe2759;
    color: #fff !important;
}

button.dtp-btn-clear.btn.btn-flat.btn-sm,
button.dtp-btn-cancel.btn.btn-flat.btn-sm,
button.dtp-btn-ok.btn.btn-flat.btn-sm {
    border-color: transparent;
    background: #fe2759;
    color: #fff !important;
}

button.dtp-btn-clear.btn.btn-flat.btn-sm:hover,
button.dtp-btn-cancel.btn.btn-flat.btn-sm:hover,
button.dtp-btn-ok.btn.btn-flat.btn-sm:hover {
    background: #fe2759;
    border-radius: 0px;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.u-img img{
    height: 80px !important;
}

.pkg_listing{
    list-style-type: none;
    padding-left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pkg_listing li{
    text-align: center;
    /*color: white !important;*/
    padding: 5px 10px;
    /*font-weight: 500 !imporatnt;*/
}

.pkg_listing li:nth-child(odd){
    background: white;
}

.pkg_listing li:nth-child(even){
    background: #e6e6e6;
}

.pkgbtn{
        padding: 2px 30px;
        width: 100%;
}

a{
    cursor: pointer !important;
}

.bgbox img{
    height: 200px;
    width: 100%;
}

.welcomebox{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s;
    border-radius: 5px;
    margin-bottom: 30px;
}

.welcomebox:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background: #97999f;
}

.welcomeheading{
    text-align: center;
    font-weight: 500;
}

.supportno{
    padding-left: 5px;
    font-weight: 400;
}

.supportno:hover{
    text-decoration: underline;
    color: rgba(0, 0, 255, 0.69);
}